.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
  
  .content {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 900px;
	height: 60vh;
  }
  
  .leftText {
	top: 60%;
	left: -30%;
	color: var(--color-blue);
	position: absolute;
	font-family: 'Juana';
	font-size: 200px;
	opacity: 0.2;
	z-index: -1;
  }
  
  .rightText {
	right: -26.99%;
	top: -3%;
	position: absolute;
	font-family: 'Juana';
	font-size: 200px;
	opacity: 0.2;
	z-index: -1;
  }
  
  .rightTextOutline {
	position: absolute;
	right: -35%;
	top: 24%;
	font-family: 'Juana';
	font-size: 200px;
	color: transparent;
	opacity: 0.2;
  }
  
  .rightTextOutline::before {
	content: 'VortexMedia';
	position: absolute;
	top: 0;
	left: 0;
	color: transparent;
	-webkit-text-stroke: 1px black;
  }
  
  .container h1 {
	font-size: 60px;
	font-family: 'Juana';
	color: var(--color-dark-purple);
  }
  
  .content h1 {
	font-size: 60px;
	font-family: 'Juana', sans-serif;
	color: var(--color-dark-purple);
	font-weight: 500;
  }
  
  .container h1 .easeText {
	color: var(--color-blue);
  }
  
  .container h2 {
	font-size: 60px;
	font-weight: 500;
  }
  
  .container .welcome {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .container p {
	font-size: 16px;
	font-family: 'InterSemiBold';
	color: var(--color-dark-purple);
	text-align: center;
	margin-bottom: 50px;
  }
  
  .container p .reg {
	color: var(--color-dark-purple);
	margin-left: 5px;
	cursor: pointer;
	font-weight: 600;
  }
  
  .footerText {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	font-size: 14px;
	font-family: 'InterSemiBold';
	color: var(--color-blue);
	cursor: pointer;
  }
  
  .reg a {
	text-decoration: none;
	color: var(--color-blue);
  }
  
  .fp {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: var(--gap-sm);
  }
  
  .fp a {
	text-decoration: none;
	color: var(--color-blue);
	text-align: right;
	font-size: 14px;
	color: var(--color-dark-purple);
	font-weight: 600;
	font-family: var(--font-poppins);
  }

  .button {
	font-size: 16px;
	padding: 12px 24px;

  }

  @media (max-width: 1024px) {
	.content {
	  width: 80%;
	}
  
	.leftText,
	.rightText,
	.rightTextOutline {
	  font-size: 150px;
	}
  
	.container h1,
	.content h1,
	.container h2 {
	  font-size: 40px;
	}
  
	.container p {
	  font-size: 14px;
	}
  
	.fp a {
	  font-size: 12px;
	}
  }
  
  @media (max-width: 768px) {
	.content {
	  width: 90%;
	  height: 50vh;
	}
  
	.leftText,
	.rightText,
	.rightTextOutline {
	  display: none;
	}
  
	.container h1,
	.content h1,
	.container h2 {
	  font-size: 30px;
	}
  
	.container p {
	  font-size: 12px;
	  margin-bottom: 30px;
	}
  
	.fp a {
	  font-size: 10px;
	}
  }