.root {
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    margin-bottom: calc(100vw * 20/1900);
    font-weight: 600;
    color: #060321;
  }

  .content{
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .input {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .button {
    margin-top: 16px;
    background-color: #060321;
    color: #fff;
    &:hover {
      background-color: #0d0e33;
    }
  }