.container {
  display: block;
  max-width: calc(100vw * 1700 / 1900);
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  padding: 2rem;
}

.discover {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1rem;
}

@media (max-width: 768px) {
  .discover {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 480px) {
  .discover {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .newscard {
    margin: 40% auto;
  }
}

.newscard {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  max-width: 1900px;
  margin: 10% 0 0 0;
}

.newscard img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  z-index: 0;
}

.newscontent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  z-index: 10;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}

.newscontent h2 a {
  font-size: 24px;
  color: white;
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: none;
}

.newscontent h2:hover {
  text-decoration: underline;
}

.newscontent p {
  font-size: 16px;
  color: white;
}

.newscontent h2,
.newscontent p {
  font-family: var(--font-family-inter);
}

.subnews {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.hotnews {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem; 
}

.uppernews {
  flex: 1;
  margin-bottom: -10rem;
}

.lowernews {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 4rem;
}

.lowernews .newscard {
  flex-basis: 48%;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .lowernews {
    flex-direction: column;
    gap: 0.5rem; 
  }

  .uppernews {
    margin-bottom: 1rem;
  }

  .hotnews {
    margin-top: 9rem;
  }
}

@media (max-width: 480px) {
  .newscontent h2,
  .newscontent p {
    font-size: 0.75rem; 
  }

  .hotnews {
    margin-top: 12rem;
  }
}

@media (max-width: 768px) {
  .headerTitle {
    font-size: 2rem;
  }
}
